* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "General Sans", sans-serif;
  background: $light;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  -webkit-tap-highlight-color: transparent;
}

.body-container {
  @include clamp-property("padding-inline", 1.25, 5);
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
